*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align: baseline;
    background: transparent;
}
.nav{ 
    list-style-type: none;
    background-color:gray;
    width: 1440px;
    height: 60px;
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content:center;
    text-decoration: none;
    vertical-align: bottom;
    align-items: center;
  
}
.nav li a{ 
    text-transform: uppercase;
    font-size: 24px;
    background: gray;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.nav li a:hover{
    vertical-align: bottom;
    background-color: gray;
    color: gold;
}

.nav li a.active{
    background-color: gold;
    color:white;
}
body{
    background-color: white;
    height: 410vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: black; 
    size: 80px; 
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
  
}
h2{
    color: black;
    size: 65px; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}
h3{
    color: black; 
    size: 48px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
}
h4{
    color: black; 
    size: 36px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
}
#team{
    align-items: center;
    position: absolute; 
    top: 4000px; 
    left: 10%; 
}
#News{
    align-items: center;
    position: absolute; 
    top: 3000px; 
    left: 10%; 
}
#Resources{
    align-items: center;
    position: absolute;
    top: 2000px;
    left: 10%;
}
#Opening{
    align-items: center;
    position: absolute;
    top: 10%;
    left: 10%;
}

